$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Rosarivo', serif;

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: xx-large !important;
}

@media (max-width: 500px) {
    .logo {
        font-size: x-large !important;
    }
}

@media (max-width: 340px) {
    .logo {
        font-size: large !important;
    }
}

.category-tab {
    font-weight: bold;
    font-variant: all-small-caps;
    font-size: x-large !important;
}

.index-item {
    font-size: x-large;
}

.index-link {
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}
